<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
 Почивка до 20:06
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Employees</title>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<header>
    <h1>Employees</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/web">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/web/employees">List of Employees</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
